<h1> Create a Team and Heroes! </h1>
<br>
<form method="post" action="/teams">
<p> Team Name:
  <input type="text" name="team[name]">
</p>
<p> Team Motto:
  <input type="text" name="team[motto]">
</p>
<br>
<h2> Hero 1 <h2>
  <p> Hero's Name:
    <input type="text" name="team[heroes][][name]">
  </p>

<input type="submit" value="Submit">
</form>
